.container {
    position: absolute;
    text-align: center;
    padding-left: 300px;
    
}
.logo_login {
   padding-bottom: 510px;
    padding-left: 190px;
}

.dot a img {
    width: 20px;
}

.btn {
    background-color: #DA1F42;
    border-radius: 15px;
}

.container_login {
    height: 100vh;
    margin: 0 auto;
}

.container_login .form-1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 40%;
    color: #CACACA;
}

a {
    text-decoration: none;
}

.forgot {
    padding-left: 150px;

    color: #DA1F42;
}
